<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cloudflare IP ve Firewall Ayarları</title>
</head>
<body>
    <h1>Cloudflare Firewall Kuralları</h1>
    <form id="firewallForm">
        <input type="text" id="CF_API_KEY" name="CF_API_KEY" placeholder="CF API Key">
        <br>
        <input type="text" id="CF_EMAIL" name="CF_EMAIL" placeholder="CF Email">
        <br>
        <input type="text" id="ZONE_ID" name="ZONE_ID" placeholder="Zone ID">
        <br>
        <ul id="rulesList">
            <!-- Firewall kuralları buraya gelecek -->
        </ul>
        <button type="button" onclick="loadRules()">Kuralları Yükle</button>
    </form>

    <h1>Cloudflare IP Ekle</h1>
    <form id="ipForm">
        <label for="ipAddress">IP Adresi:</label>
        <input type="text" id="ipAddress" name="ipAddress" placeholder="IP adresini girin">
        <br>
        <label for="comment">Yorum:</label>
        <input type="text" id="comment" name="comment" placeholder="Yorumunuzu girin">
        <br>
        <button type="button" onclick="addIP()">IP Ekle</button>
    </form>

    <h1>Cloudflare IP Kontrol</h1>
    <form id="checkIpForm">
        <label for="checkIpAddress">IP Adresi:</label>
        <input type="text" id="checkIpAddress" name="checkIpAddress" placeholder="Kontrol edilecek IP adresini girin">
        <br>
        <button type="button" onclick="checkIP()">IP Kontrol</button>
    </form>
    <p id="checkIpResult"></p>

    <script>
        // Firewall kurallarını yüklemek için fonksiyon
        function loadRules() {
            var xhr = new XMLHttpRequest();
            xhr.open('GET', 'http://127.0.0.1:5000/get_rules', true);
            xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        var rules = JSON.parse(xhr.responseText);
                        var rulesList = document.getElementById('rulesList');
                        rulesList.innerHTML = '';
                        rules.forEach(function(rule, index) {
                            var li = document.createElement('li');
                            li.textContent = `Rule ${index + 1}: ${rule.description} - Paused: ${rule.paused}`;
                            var button = document.createElement('button');
                            button.textContent = 'Durumu Değiştir';
                            button.onclick = function() { changeRuleStatus(rule.id, rule.paused); };
                            li.appendChild(button);
                            rulesList.appendChild(li);
                        });
                    } else {
                        console.error("Error loading rules");
                    }
                }
            };
            xhr.send();
        }

        // Firewall kuralı durumunu değiştirmek için fonksiyon
        function changeRuleStatus(ruleId, paused) {
            var ruleData = {
                rule_id: ruleId,
                paused: paused
            };
            var xhr = new XMLHttpRequest();
            xhr.open('POST', 'http://127.0.0.1:5000/toggle_rule', true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        console.log("Firewall rule change successful");
                        loadRules(); // Kuralları tekrar yükle
                    } else {
                        console.error("Error changing firewall rule");
                    }
                }
            };
            xhr.send(JSON.stringify(ruleData));
        }

        // IP eklemek için fonksiyon
        function addIP() {
            var ipAddress = document.getElementById('ipAddress').value;
            var comment = document.getElementById('comment').value;
            var ipData = {
                ipAddress: ipAddress,
                comment: comment
            };
            var xhr = new XMLHttpRequest();
            xhr.open('POST', 'http://127.0.0.1:5000/add_ip', true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        console.log("IP addition successful");
                    } else {
                        console.error("Error adding IP");
                    }
                }
            };
            xhr.send(JSON.stringify(ipData));
        }

        // IP kontrol etmek için fonksiyon
        function checkIP() {
            var checkIpAddress = document.getElementById('checkIpAddress').value;
            var checkIpData = {
                ipAddress: checkIpAddress
            };
            var xhr = new XMLHttpRequest();
            xhr.open('POST', 'http://127.0.0.1:5000/check_ip', true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        var response = JSON.parse(xhr.responseText);
                        document.getElementById('checkIpResult').textContent = response.message;
                    } else {
                        console.error("Error checking IP");
                    }
                }
            };
            xhr.send(JSON.stringify(checkIpData));
        }
    </script>
</body>
</html>
